<header>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg scrolling-navbar">
        <a class="navbar-brand"
          (click)="isMenuCollapsed = true"
          routerLink="/">
          {{ title }}
        </a>
        <button class="navbar-toggler" 
                type="button" 
                (click)="isMenuCollapsed = !isMenuCollapsed" 
                aria-controls="navbarText" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon pointer-events-none"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
          
          <ul class="navbar-nav mr-auto">
            <li *ngIf="!isAuthenticated" 
              class="nav-item">
              <a class="nav-link"
                (click)="isMenuCollapsed = true"
                [routerLink]="['/page', 'project']"
                routerLinkActive="active">
                  Projet
              </a>
            </li>
            <li *ngIf="isAuthenticated" 
            class="nav-item">
            <a class="nav-link"
              (click)="isMenuCollapsed = true"
              [routerLink]="['/training']"
              routerLinkActive="active">
                Trainings
            </a>
          </li>
            <li *ngIf="isAuthenticated" 
              class="nav-item">
              <a class="nav-link"
                (click)="isMenuCollapsed = true"
                [routerLink]="['/movement']"
                routerLinkActive="active">
                  Movements
              </a>
            </li>
            <li *ngIf="isAuthenticated" 
              class="nav-item">
              <a class="nav-link"
                (click)="isMenuCollapsed = true"
                [routerLink]="['/channel']"
                routerLinkActive="active">
                  Channels
              </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li *ngIf="!isAuthenticated" 
                class="nav-item">
                <a class="nav-link"
                  (click)="isMenuCollapsed = true"
                  routerLink="/auth"
                  routerLinkActive="active">
                    LogIn
                </a>
            </li>
            <li *ngIf="!isAuthenticated" 
                class="nav-item">
                <a class="nav-link"
                  (click)="isMenuCollapsed = true"
                  routerLink="/new"
                  routerLinkActive="active">
                    SignIn
                </a>
            </li>
            <li *ngIf="isAuthenticated"
              class="nav-item">
                <a class="nav-link"
                    (click)="isMenuCollapsed = true"
                    routerLink="/users/account"
                    routerLinkActive="active">
                      Account
                </a>
            </li>
            <li *ngIf="isAuthenticated"
              class="nav-item">
                <a class="nav-link"
                    (click)="isMenuCollapsed = true"
                    routerLink="/logout"
                    routerLinkActive="active">
                      Logout
                </a>
            </li>
          </ul>

        </div>
    </nav>
  
  </header>

