.user-new 
{
    height: 100%;

    background: #00a9b4; 
    background: -webkit-linear-gradient(to right, #5B86E5, #00a9b4);
    background: linear-gradient(to right, #5B86E5, #00a9b4);

    .card {
        border: 0;
    }
}