<div class="row default-page">
    
    <div class="col-3 side-list">

        <ul>
            <li class="list-item main"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/movement']">
                    <h4>
                        <fa-icon [icon]="faList"></fa-icon>
                        
                        Movements list
                    </h4>
                </a>
            </li>

            <li class="list-item main">
                <a (click)="onCreateMovement()">
                    <h4>
                        <fa-icon [icon]="faPlusSquare"></fa-icon>
                        
                        Create movement
                    </h4>
                </a>
            </li>
        </ul>

        <ul class="secondary">
            <li [routerLinkActive]="['active']"
                *ngFor="let movement of movements">
                <a [routerLink]="['/movement', movement.id]">
                    
                    <fa-icon [icon]="faDumbbell"></fa-icon>
                    
                    <span>{{ movement.name }}</span>

                </a>
            </li>
        </ul>

    </div>

    <div class="col-9 details">

        <router-outlet></router-outlet>

    </div>

</div>

