@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.message {
    
    .message-user-img {
        width: 1.5rem;
        border-radius: 1.5rem;
    }

    .message-content {
        padding: 1rem;
        border-radius: 9px;
        color: theme-color('light');
        background-color: theme-color('dark');

        &:after {
            bottom: 100%;
            left: 7%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: theme-color('dark');
            border-width: 10px;
            margin-left: -10px;
        }
    }

    /* current message user */
    .message-user {
        .message-content {
            color: theme-color('light');
            background-color: theme-color('primary');

            &:after {
                left: unset;
                right: 7%;
                border-bottom-color: theme-color('primary');
            }
        }
    }
}