<div class="row training">
    <div class="col-md-12 training-inner">

        <div class="training-header row">
            <div class="col-8">
                <fa-icon [icon]="faDumbbell"></fa-icon> {{ training.name }}
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-outline-dark"
                    [routerLink]="['settings']">
                    <fa-icon [icon]="faCogs"></fa-icon>
                </a>
            </div>
        </div>

        <div class="training-content">
            <div class="col-12">
                Training description content.
            </div>
        </div>
            
    </div>
</div>