<div class="row auth">
    <div class="col-md-4 offset-md-4 my-auto">
        
        <div class="card">
            <img class="card-img-top w-25 mx-auto" 
                src="./assets/img/bot-avatar.png" 
                alt="bot avatar image">

            <div class="card-body">

                <h1 class="card-title">LogIn</h1>

                <hr>

                <div *ngIf="errorMessage" 
                    class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>

                <form [formGroup]="authenticationFormGroup" 
                    (submit)="onSubmit()">

                    <div class="form-group">
                    
                        <input type="text" 
                                class="form-control" 
                                placeholder="Enter UserName"
                                formControlName="userName">

                    </div>

                    <div class="form-group">

                        <input type="password" 
                                class="form-control" 
                                placeholder="Password"
                                formControlName="password">

                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" formControlName="rememberMe"> Remember me
                        </label>
                      </div>

                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>