<div class="row channel">
    <div class="col-md-12 channel-inner">

        <div class="channel-header row">
            <div class="col-8">
                <fa-icon [icon]="faCommentAlt"></fa-icon> {{ channel.name }}
            </div>
            <div class="col-4 text-right">
                <a class="btn btn-outline-dark"
                    [routerLink]="['settings']">
                    <fa-icon [icon]="faCogs"></fa-icon>
                </a>
            </div>
        </div>

        <div class="channel-content">
            <div class="col-12">
                <app-messages></app-messages>
            </div>
        </div>
    
        <form [formGroup]="messageForm"
            (submit)="onSubmitMessage()"
            class="channel-form col-12">
           
            <div class="form-group">
                <div class="row">
                    <textarea
                        (keyup.enter)="onSubmitMessage()"
                        class="form-control col-11"
                        formControlName="content"
                        name="content"
                        placeholder ="Type your message" 
                        rows="3">
                    </textarea>
            
                    <button 
                        class="col-1 btn btn-outline-primary">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
            
    </div>
</div>