<div class="row channel">
    <div class="col-md-12 channel-inner">

        <div class="channel-header">
            <h5 col="col-12">
                <fa-icon [icon]="faCommentAlt"></fa-icon> Channel {{ channel.guid }}
            </h5>
        </div>

        <div class="channel-content">
            <div class="col-12">
                <app-messages [channelGuid]="channel.guid"></app-messages>
            </div>
        </div>
    
        <form [formGroup]="messageForm"
            (submit)="onSubmitMessage()"
            class="channel-form col-12">
           
            <div class="form-group">
                <div class="row">
                    <textarea
                        (keyup.enter)="onSubmitMessage()"
                        class="form-control col-11"
                        formControlName="content"
                        name="content"
                        placeholder ="Type your message" 
                        rows="3">
                    </textarea>
            
                    <button 
                        class="btn btn-primary"
                        class="col-1">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
            
    </div>
</div>