@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.channel {
    position: relative;
    height: 100%;

    .channel-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        
        height: 2.5rem;

        background-color: theme-color('light');
        color: theme-color('gray');
    }
    .channel-content {
        margin-top: 3.5rem;
        margin-bottom: 8.5rem;
    }
    .channel-form {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        height: 7rem;

        background-color: theme-color('light');

        textarea {
            resize: none;
            height: 2.5rem;
            width: 100%;
        }
    }
}