@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.channels 
{
    .channels-list 
    {
        background: #e5e8ef;
        height: 100%;
        
        ul 
        {
            padding-left: 0;
            list-style: none;
            width: 100%;

            li
            {
                display: list-item;
                border-spacing: 0;
                box-sizing: border-box;

                &.active 
                {
                    background: #f2f4f7; 

                    a {
                        padding: 0;
                        color: #00a9b4;
                        
                        fa-icon {
                            padding-right: 8px;
                        }

                        h4 
                        {
                            padding: 17px 15px;
                            margin: 0;
                            font-size: 14px;
                            font-weight: 600;
                            border-bottom: 1px solid #D5D7DE;
                        }
                    }
                }

                &:hover {
                    background: #f2f4f7; 
                    
                    a {
                        color: #00a9b4;
                    }
                }
                
                a 
                {
                    color: #6a6a6a;
                    display: block;
                    padding: 15px;
                    font-weight: 300;
                    text-decoration: none;

                    fa-icon {
                        padding-left: 10px;
                    }

                    span {
                        padding-left: 10px;
                    }
                }
            }    
        }
    }

    .channel-detail 
    {
        height: 100%;
    }
}