<div class="row default-page">
    
    <div class="col-3 side-list">

        <ul>
            <li class="list-item main"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/channel']">
                    <h4>
                        <fa-icon [icon]="faSatellite"></fa-icon>
                        
                        Channels list
                    </h4>
                </a>
            </li>

            <li class="list-item main">
                <a (click)="onCreateChannel()">
                    <h4>
                        <fa-icon [icon]="faPlusSquare"></fa-icon>
                        
                        Create channel
                    </h4>
                </a>
            </li>
        </ul>

        <ul class="secondary">
            <li [routerLinkActive]="['active']"
                *ngFor="let channel of channels">
                <a [routerLink]="['/channel', channel.guid]">
                    
                    <fa-icon [icon]="faRocket"></fa-icon>
                    
                    <span>{{ channel.name }}</span>

                </a>
            </li>

        </ul>

    </div>

    <div class="col-9 details">

        <router-outlet></router-outlet>

    </div>

</div>

