<div class="row page-details">
    <div class="details-inner col">

        <div class="details-header row">
            <div class="col-3">
                Planning <i>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</i>
            </div>
            <div class="col-6 text-center">
                <div class="btn-group">
                    <div class="btn btn-primary"
                        mwlCalendarPreviousView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                            <<
                    </div>

                    <div class="btn btn-primary"
                        mwlCalendarToday
                        [(viewDate)]="viewDate">
                            Today
                    </div>

                    <div class="btn btn-primary"
                        mwlCalendarNextView
                        [view]="view"
                        [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                            >>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="btn-group">
                    <div class="btn btn-outline-primary"
                        (click)="setView(CalendarView.Month)"
                        [class.active]="view === CalendarView.Month">
                            Month
                    </div>

                    <div class="btn btn-outline-primary"
                        (click)="setView(CalendarView.Week)"
                        [class.active]="view === CalendarView.Week">
                            Week
                    </div>

                    <div class="btn btn-outline-primary"
                        (click)="setView(CalendarView.Day)"
                        [class.active]="view === CalendarView.Day">
                            Day
                    </div>
                </div>
            </div>
        </div>

        <div class="details-content row">
            <div [ngSwitch]="view" 
                class="col-12">

                <mwl-calendar-month-view
                    *ngSwitchCase="CalendarView.Month"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>

                <mwl-calendar-week-view
                    *ngSwitchCase="CalendarView.Week"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>

                <mwl-calendar-day-view
                    *ngSwitchCase="CalendarView.Day"
                    [viewDate]="viewDate"
                    [events]="events"
                    [refresh]="refresh"
                    (eventClicked)="handleEvent('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>

            </div>
            
            <div class="col-12">
                <button class="btn btn-primary pull-right" (click)="addEvent()">
                    Add new
                </button>
            </div>

        </div>
    </div>
</div>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
    <h5 class="modal-title">Edit Event</h5>
    <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="eventTitle">Title</label>

                    <input
                        id="eventTitle"
                        type="text"
                        class="form-control"
                        [(ngModel)]="modalData?.event.title"
                        (keyup)="refresh.next()"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="startDate">Start</label>
                  
                    <input
                        id="startDate"
                        class="form-control"
                        type="text"
                        mwlFlatpickr
                        [(ngModel)]="modalData?.event.start"
                        (ngModelChange)="refresh.next()"
                        [altInput]="true"
                        [convertModelValue]="true"
                        [enableTime]="true"
                        dateFormat="Y-m-dTH:i"
                        altFormat="F j, Y H:i"
                        placeholder="Not set"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="endDate">End</label>
                  
                    <input
                        id="endDate"
                        class="form-control"
                        type="text"
                        mwlFlatpickr
                        [(ngModel)]="modalData?.event.end"
                        (ngModelChange)="refresh.next()"
                        [altInput]="true"
                        [convertModelValue]="true"
                        [enableTime]="true"
                        dateFormat="Y-m-dTH:i"
                        altFormat="F j, Y H:i"
                        placeholder="Not set"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="primaryColor">Primary color</label>
                    <br>
                    <input id="primaryColor"
                        type="color"
                        [(ngModel)]="modalData?.event.color.primary"
                        (change)="refresh.next()"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="secondaryColor">Secondary color</label>
                    <br>
                    <input id="secondaryColor"
                        type="color"
                        [(ngModel)]="modalData?.event.color.secondary"
                        (change)="refresh.next()"/>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="close()">
            Save
        </button>
        <button class="btn btn-danger" (click)="deleteEvent(modalData?.event)">
            Delete
        </button>
    </div>
</ng-template>