<div class="row">
    <div class="col-md-10"
        [ngClass]="{'offset-md-2': message.isCurrentUser}">

        <div class="row message">
            <div class="col-10 message-content bg-primary text-white">
                {{message.content}}
            </div>
            <div class="col-2">
                <img src="{{message.user.imgPath}}" 
                    class="rounded img-fluid"
                    alt="{{message.user.name}}">
            </div>
            <div class="col-10">
                <small class="float-right">
                    {{message.date}}
                </small>
            </div>
        </div>

    </div>
</div>