<div class="row message mb-3">
    <div class="col-10"
        [ngClass]="{'message-user': message.isCurrentUser, 'offset-2': message.isCurrentUser}">

        <div class="row">
            
            <div class="col-12 mb-2 p-0"
                [ngClass]="{'text-right': message.isCurrentUser}">
                
                <img src="{{message.user.imgPath}}" 
                    class="message-user-img"
                    alt="{{message.user.name}}">
            
                <span>{{message.user.name}} <small>{{message.date}}</small></span>
            
            </div>

            <div class="col-12 message-content">
                {{message.content}}
            </div>

        </div>

    </div>
</div>