<div class="row room">
    <div class="col-md-12">

        <div class="room-header">
            <h2 col="col-12">Room {{ room.guid }}</h2>
        </div>

        <div class="room-content">
            <div class="col-12">
                <app-message 
                    *ngFor="let message of room.messages"
                    [message]="message"></app-message>
            </div>
        </div>
    
        <form [formGroup]="messageForm"
            (submit)="onSubmitMessage()"
            class="room-form">
            
            <div class="col-12">
                <div class="form-group pt-2 mb-O">
                    <textarea
                        class="form-control"
                        formControlName="content"
                        name="content"
                        placeholder ="Type your message" rows="3">
                    </textarea>
                </div>
            </div>

            <div class="col-2 offset-10 text-right">
                <button class="btn btn-primary ">
                    Send
                </button>
            </div>

        </form>
            
    </div>
</div>