<div class="row page-details">
    <div class="details-inner col">
        <div class="details-content row">

            <div class="col-sm-6 col-md-4 col-lg-3 mt-3"
                *ngFor="let channel of channels" >

                <div class="card">
                    <a class="text-white"
                        [routerLink]="['/channel', channel.guid]">

                        <fa-icon [icon]="faRocket" class="rocket"></fa-icon>

                        <img class="card-img" src="{{ channel.imgPath }}" alt="Card image cap">

                        <div class="card-img-overlay">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span>{{ channel.name }}</span>
                                </h5>

                                <p class="card-text">An awesome channel.</p>
                            </div>
                        </div>

                    </a>
                </div>
            </div>  
        </div>
    </div>
</div>

