<div class="row">
    <div class="col-md-12 mt-4">

        <h1>Your account</h1>

        <hr>

        <form class="col-md-10 offset-md-2"
            [formGroup]="accountFormGroup"  
            (submit)="onSubmit()">

            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Name</label> 
                <div class="col-8">
                    <input type="text" 
                        class="form-control" 
                        placeholder="Enter name"
                        formControlName="name">
                </div>
            </div>

            <div class="form-group row">
                <label for="fullname" class="col-4 col-form-label">Fullname</label> 
                <div class="col-8">
                    <input type="text" 
                        class="form-control" 
                        placeholder="Enter fullname"
                        formControlName="fullname">
                </div>
            </div>

            <div class="form-group row">
                <label for="imgPath" class="col-4 col-form-label">Image Path</label> 
                <div class="col-8">
                    <input type="url" 
                        class="form-control" 
                        placeholder="Enter image path"
                        formControlName="imgPath">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email</label> 
                <div class="col-8">
                    <input type="email" 
                        class="form-control" 
                        aria-describedby="emailHelp" 
                        placeholder="Enter email"
                        formControlName="email">
                
                    <small id="emailHelp" class="form-text text-muted">
                        We'll never share your email with anyone else.
                    </small>
                </div>
            </div>

          <div class="form-group row">
            <div class="offset-4 col-8">
                <button name="submit" 
                    type="submit" 
                    class="btn btn-primary">
                  Save
                </button>
            </div>
          </div>
        </form>
    </div>
</div>