<div class="row default-page h-100">
    
    <div class="col-3 side-list p-0">

        <ul>
            <li class="list-item main"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/training']">
                    <h4>
                        <fa-icon [icon]="faList"></fa-icon>
                        
                        Trainings list
                    </h4>
                </a>
            </li>

            <li class="list-item main">
                <a (click)="onCreate()">
                    <h4>
                        <fa-icon [icon]="faPlusSquare"></fa-icon>
                        
                        Create training
                    </h4>
                </a>
            </li>

            <li [routerLinkActive]="['active']"
                *ngFor="let training of trainings">
                <a [routerLink]="['/training', training.guid]">
                    
                    <fa-icon [icon]="faMap"></fa-icon>
                    
                    <span>{{ training.name }}</span>

                </a>
            </li>

        </ul>

    </div>

    <div class="col-9 details">

        <router-outlet></router-outlet>

    </div>

</div>

