
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

html, body {
    height: 100%;
}

body {
    background-color: theme-color('gray-dark');
}

.default-page 
{
    .side-list 
    {
        background: #e5e8ef;
        height: 100%;
        
        ul 
        {
            padding-left: 0;
            list-style: none;
            width: 100%;

            li
            {
                display: list-item;
                border-spacing: 0;
                box-sizing: border-box;

                &.active {
                    a {
                        color: #00a9b4;
                    }
                }

                &.list-item.main
                {
                    background: #f2f4f7; 

                    a {
                        padding: 0;
                        
                        fa-icon {
                            padding-right: 8px;
                        }

                        h4 
                        {
                            padding: 17px 15px;
                            margin: 0;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }

                    &:last-of-type 
                    {
                        
                            border-bottom: 1px solid #D5D7DE;
                        
                    }
                }

                &:hover {
                    background: #f2f4f7; 
                    
                    a {
                        color: #00a9b4;
                    }
                }
                
                a 
                {
                    color: #6a6a6a;
                    display: block;
                    padding: 15px;
                    font-weight: 300;
                    text-decoration: none;

                    fa-icon {
                        padding-left: 10px;
                    }

                    span {
                        padding-left: 10px;
                    }
                }
            }    
        }
    }

    .details
    {
        height: 100%;

        .card {
            background: #00a9b4; 
            background: -webkit-linear-gradient(to right, #5B86E5, #00a9b4);
            background: linear-gradient(to right, #5B86E5, #00a9b4);
        
            border: 0;
        
            &:hover {
                box-shadow: 0px 0px 20px -5px rgba(82,82,82,1);
            }
            
        
            a {
                text-decoration: none;
        
                fa-icon {
                    font-size: 4rem;
                    text-align: center;
                    display: block;
                }
        
                .card-img-overlay {
                    .card-body {
                        margin-top: 50px;
                    }
                }
            }
        }

        .page-details {
            position: relative;
            height: 100%;
            overflow: hidden;
        
            .details-inner {
                height: 100%;
            
                .details-header {
                    height: 50px;
                    text-transform: uppercase;
                    padding: 10px;
                }
                .details-content {
                    height: calc(100% - 100px);
                    overflow-x: hidden;
                    overflow-y: scroll;
                }
            }
        }
    }
}